body {
  background-color: #380D00;
  color: #E1E3E0;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  color: #E1E3E0;
  padding-bottom: 35px;
  background-image:
  linear-gradient(
    to top,
    #380D00, #661300
    );
    margin-bottom: 0;
    padding-top: 15px;
    border: none;
    border-radius: 0%;
}

.fadeInColor:hover {
  color: #E1E3E0;
  background-color: #9C0007;
  -webkit-transition: background-color 4000ms linear;
  -ms-transition: background-color 4000ms linear;
  transition: background-color 4000ms linear;
}

label {
  margin-right: 5px;
}

button, input {
  color: #1C0500;
}

h1 {
  font-size: 72px;
}

.ft {
  font-size: 24px;
}

.container {
  margin-top: 50px;
}

#userNumber {
  width: 75px;
}

#output {
  display: none;
}

#okay{
  margin-left: 5px;
}

#again {
  display: none;
  display: flex;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

#hal {
  display: none;
  margin: 0 auto;
  float: right;
}
