h1 {
  text-align: center;
}

#userNumber {
  width: 75px;
}

#output {
  display: none;
  float: right;
}

#again {
  display: none;
  display: flex;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}
